@model User
@{ 
    ViewData["title"] = "Register";
}
<h2 class="h3 mb-3 text-muted text-center fw-bold">Register</h2>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-8 col-md-6">
            <form method="post">
                <label asp-for="UserName"></label>
                <div class="input-group my-2">
                    <div class="input-group-text">
                        <span><i class="bi bi-person-square text-secondary"></i></span>
                    </div>
                    <input asp-for="UserName" name="UserName" class="form-control" />
                    <div class="input-group-text" data-bs-placement="bottom" title="Enter Your Username Here">
                        <span><i class="bi bi-question-circle text-secondary"></i></span>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="UserName"></span> <br />
                <label asp-for="Password"></label>
                <div class="input-group my-2">
                    <div class="input-group-text">
                        <span><i class="bi bi-shield-lock-fill text-secondary"></i></span>
                    </div>
                    <input type="password" asp-for="Password" name="Password" class="form-control" />
                    <div class="input-group-text" data-bs-placement="bottom" title="Enter Your Password Here">
                        <span><i class="bi bi-question-circle text-secondary"></i></span>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="Password"></span> <br />
                <label asp-for="EmailAddress"></label>
                <div class="input-group my-2">
                    <div class="input-group-text">
                        <span><i class="bi bi-envelope text-secondary"></i></span>
                    </div>
                    <input asp-for="EmailAddress" name="EmailAddress" class="form-control" />
                    <div class="input-group-text" data-bs-placement="bottom" title="Enter Your Email Here">
                        <span><i class="bi bi-question-circle text-secondary"></i></span>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="EmailAddress"></span> <br />
                <button class="btn btn-primary text-center mt-2">Register</button>

            </form>
        </div>
    </div>
</div>
@if(Model != null && ViewBag.StatusCode == System.Net.HttpStatusCode.OK)
            {
                <table class="table table-striped table-bordered text-center mt-3">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Password</th>
                            <th>EmailAddress</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.UserName</td>
                            <td>@Model.Password</td>
                            <td>@Model.EmailAddress</td>
                        </tr>
                    </tbody>
                </table>
            }
@section Scripts{ 
@{ 
    <partial name="_ValidationScriptsPartial" />
}
}