@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Email Confirmation";
}
<div asp-validation-summary="All" class="text-center text-danger"></div>
<div class="mt-5 text-center">
    <p class="display-6">Something Went Wrong</p>
</div>
