@model ResetPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reset Password";
}
<h2 class="h3 mb-3 text-muted text-center fw-bold">Reset Password</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6">
            <form method="post">
                <div asp-validation-summary="All" class="text-center text-danger"></div>
                <label asp-for="Password"></label>
                <div class="input-group my-2">
                    <div class="input-group-text">
                        <span><i class="bi bi-shield-lock-fill text-secondary"></i></span>
                    </div>
                    <input type="password" asp-for="Password" name="Password" class="form-control" />
                    <div class="input-group-text" data-bs-placement="bottom" title="Enter Your Password Here">
                        <span><i class="bi bi-question-circle text-secondary"></i></span>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="Password"></span> <br />
                <label asp-for="ConfirmPassword"></label>
                <div class="input-group my-2">
                    <div class="input-group-text">
                        <span><i class="bi bi-shield-lock-fill text-secondary"></i></span>
                    </div>
                    <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                    <div class="input-group-text" data-bs-placement="bottom" title="Enter Your Password Here">
                        <span><i class="bi bi-question-circle text-secondary"></i></span>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span> <br />
                <button class="btn btn-primary text-center mt-2">Reset Password</button>

            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
