@model Player
@{
    ViewData["title"] = "Add Player";
}
<h2>Add Player</h2>
<form method="post" class="mt-3">
    <label asp-for="Name"></label>
    <div class="input-group">
        <input asp-for="Name" class="form-control" /> <br />
    </div>
    <span class="text-danger" asp-validation-for="Name"></span> <br />
    <label asp-for="Position"></label>
    <div class="input-group">
        <input asp-for="Position" class="form-control" /> <br />
    </div>
    <span class="text-danger" asp-validation-for="Position"></span> <br />
    <label asp-for="Nationality"></label>
    <div class="input-group">
        <input asp-for="Nationality" class="form-control" /> <br />
    </div>
    <span class="text-danger" asp-validation-for="Nationality"></span> <br />
    <button class="btn btn-primary mt-2">Add Player</button>
</form>

@if (Model != null && TempData["success"]!= null)
{
    <table class="mt-3 table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Nationality</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td class="bg-warning">@Model.Name</td>
                <td class="bg-primary">@Model.Position</td>
                <td class="bg-info">@Model.Nationality</td>
            </tr>
        </tbody>
    </table>
}

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
