@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/CustomFonts.css" type="text/css"/>
<div class="container text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
