@{
    ViewData["Title"] = "LoginRequired";
}
<div class="mt-5 text-center">
    <div class="display-4">You must be logged in to perform this action</div>
    <h4 class="mt-5">Log in <a asp-controller="IdentityUser" asp-action="LoginUser">Here</a></h4>
</div>
