<div class="d-inline-flex ms-auto w-20">
    <a asp-controller="User" asp-action="Login" class="btn btn-primary m-1">Login</a>
    <a asp-controller="User" asp-action="Register" class="btn btn-primary m-1">Register</a>
</div>